body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12765 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u12766 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u12768 {
  position:absolute;
  left:169px;
  top:131px;
  width:550px;
  height:28px;
  font-size:24px;
}
#u12769 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u12770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12770 {
  position:absolute;
  left:171px;
  top:180px;
  width:960px;
  height:320px;
}
#u12771 {
  position:absolute;
  left:2px;
  top:152px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12772 {
  position:absolute;
  left:925px;
  top:434px;
  width:130px;
  height:36px;
  color:#0099FF;
}
#u12773 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u12774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12776 {
  position:absolute;
  left:215px;
  top:220px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u12777 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u12778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12778 {
  position:absolute;
  left:215px;
  top:239px;
  width:840px;
  height:36px;
}
#u12779 {
  position:absolute;
  left:2px;
  top:10px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12781 {
  position:absolute;
  left:227px;
  top:249px;
  width:12px;
  height:12px;
}
#u12782 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12783_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:9px;
  height:5px;
}
#u12783 {
  position:absolute;
  left:236px;
  top:259px;
  width:6px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12784 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:1px 8px;
  -ms-transform-origin:1px 8px;
  -moz-transform-origin:1px 8px;
  -webkit-transform-origin:1px 8px;
}
#u12785 {
  position:absolute;
  left:249px;
  top:246px;
  width:796px;
  height:25px;
}
#u12785_input {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12786 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12787 {
  position:absolute;
  left:215px;
  top:292px;
  width:90px;
  height:16px;
  font-size:14px;
}
#u12788 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u12789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12789 {
  position:absolute;
  left:215px;
  top:311px;
  width:200px;
  height:36px;
}
#u12790 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12793 {
  position:absolute;
  left:215px;
  top:363px;
  width:75px;
  height:16px;
  font-size:14px;
}
#u12794 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12795 {
  position:absolute;
  left:215px;
  top:382px;
  width:200px;
  height:36px;
}
#u12796 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12797 {
  position:absolute;
  left:425px;
  top:392px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u12798 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12799 {
  position:absolute;
  left:425px;
  top:324px;
  width:46px;
  height:16px;
  font-size:14px;
}
#u12800 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u12801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12801 {
  position:absolute;
  left:34px;
  top:88px;
  width:299px;
  height:15px;
  font-size:12px;
}
#u12802 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u12805 {
  position:absolute;
  left:80px;
  top:277px;
  visibility:hidden;
}
#u12805_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:840px;
  height:153px;
  background-image:none;
}
#u12805_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12806 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:153px;
}
#u12807 {
  position:absolute;
  left:2px;
  top:68px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12808 {
  position:absolute;
  left:20px;
  top:12px;
  width:241px;
  height:125px;
}
#u12809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
}
#u12809 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
  text-align:left;
}
#u12810 {
  position:absolute;
  left:2px;
  top:7px;
  width:232px;
  word-wrap:break-word;
}
#u12811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
}
#u12811 {
  position:absolute;
  left:0px;
  top:30px;
  width:236px;
  height:30px;
  text-align:left;
}
#u12812 {
  position:absolute;
  left:2px;
  top:7px;
  width:232px;
  word-wrap:break-word;
}
#u12813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
}
#u12813 {
  position:absolute;
  left:0px;
  top:60px;
  width:236px;
  height:30px;
  text-align:left;
}
#u12814 {
  position:absolute;
  left:2px;
  top:7px;
  width:232px;
  word-wrap:break-word;
}
#u12815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
}
#u12815 {
  position:absolute;
  left:0px;
  top:90px;
  width:236px;
  height:30px;
  text-align:left;
}
#u12816 {
  position:absolute;
  left:2px;
  top:7px;
  width:232px;
  word-wrap:break-word;
}
#u12817 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:250px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12820 {
  position:absolute;
  left:0px;
  top:560px;
  width:1280px;
  height:250px;
  color:#999999;
}
#u12821 {
  position:absolute;
  left:2px;
  top:117px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1135px;
  height:2px;
}
#u12822 {
  position:absolute;
  left:70px;
  top:755px;
  width:1134px;
  height:1px;
}
#u12823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12824 {
  position:absolute;
  left:566px;
  top:775px;
  width:149px;
  height:16px;
}
#u12825 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u12826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12828 {
  position:absolute;
  left:869px;
  top:587px;
  width:89px;
  height:16px;
  font-size:14px;
}
#u12829 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12831 {
  position:absolute;
  left:869px;
  top:620px;
  width:326px;
  height:110px;
}
#u12832 {
  position:absolute;
  left:2px;
  top:47px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12835 {
  position:absolute;
  left:891px;
  top:639px;
  width:16px;
  height:16px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u12837 {
  position:absolute;
  left:915px;
  top:639px;
  width:197px;
  height:16px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u12838 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u12839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12840 {
  position:absolute;
  left:891px;
  top:667px;
  width:16px;
  height:16px;
}
#u12841 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u12842 {
  position:absolute;
  left:915px;
  top:667px;
  width:79px;
  height:16px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u12843 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12845 {
  position:absolute;
  left:891px;
  top:695px;
  width:16px;
  height:16px;
}
#u12846 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u12847 {
  position:absolute;
  left:915px;
  top:695px;
  width:144px;
  height:16px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u12848 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u12849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12850 {
  position:absolute;
  left:660px;
  top:587px;
  width:42px;
  height:16px;
  font-size:14px;
}
#u12851 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u12852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12852 {
  position:absolute;
  left:660px;
  top:613px;
  width:107px;
  height:112px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12853 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u12854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12855 {
  position:absolute;
  left:291px;
  top:587px;
  width:72px;
  height:16px;
  font-size:14px;
}
#u12856 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12857 {
  position:absolute;
  left:291px;
  top:613px;
  width:76px;
  height:112px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12858 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12860 {
  position:absolute;
  left:85px;
  top:587px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u12861 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12862 {
  position:absolute;
  left:85px;
  top:613px;
  width:104px;
  height:112px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12863 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12865 {
  position:absolute;
  left:469px;
  top:587px;
  width:56px;
  height:16px;
  font-size:14px;
}
#u12866 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u12867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12867 {
  position:absolute;
  left:469px;
  top:613px;
  width:89px;
  height:112px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u12868 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12870 {
  position:absolute;
  left:808px;
  top:67px;
  visibility:hidden;
}
#u12870_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:295px;
  height:183px;
  background-image:none;
}
#u12870_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12871 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:183px;
}
#u12872 {
  position:absolute;
  left:2px;
  top:84px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
}
#u12873 {
  position:absolute;
  left:19px;
  top:19px;
  width:173px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u12874 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u12875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12875 {
  position:absolute;
  left:19px;
  top:61px;
  width:64px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12876 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:2px;
}
#u12877 {
  position:absolute;
  left:19px;
  top:90px;
  width:261px;
  height:1px;
}
#u12878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099FF;
}
#u12879 {
  position:absolute;
  left:19px;
  top:105px;
  width:261px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u12880 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u12881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12881 {
  position:absolute;
  left:19px;
  top:147px;
  width:64px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12882 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12883 {
  position:absolute;
  left:140px;
  top:52px;
  width:65px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12884 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12885 {
  position:absolute;
  left:215px;
  top:52px;
  width:65px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12886 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u12887 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:183px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0862745098039216);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0862745098039216);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0862745098039216);
}
#u12888 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:68px;
}
#u12889 {
  position:absolute;
  left:2px;
  top:26px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u12890 {
  position:absolute;
  left:34px;
  top:13px;
  width:66px;
  height:37px;
  color:#999999;
}
#u12891 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u12892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:49px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12894 {
  position:absolute;
  left:1117px;
  top:16px;
  width:36px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12895 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:49px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12896 {
  position:absolute;
  left:1129px;
  top:23px;
  width:12px;
  height:12px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12897 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:49px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12898 {
  position:absolute;
  left:1122px;
  top:36px;
  width:27px;
  height:10px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12899 {
  position:absolute;
  left:2px;
  top:-3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12901 {
  position:absolute;
  left:1167px;
  top:16px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12902 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u12903 {
  position:absolute;
  left:1167px;
  top:34px;
  width:79px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u12904 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12905 {
  position:absolute;
  left:1112px;
  top:9px;
  width:163px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12906 {
  position:absolute;
  left:707px;
  top:26px;
  width:118px;
  height:16px;
  color:#999999;
}
#u12907 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u12908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12908 {
  position:absolute;
  left:508px;
  top:26px;
  width:40px;
  height:16px;
  color:#999999;
}
#u12909 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12910 {
  position:absolute;
  left:585px;
  top:26px;
  width:84px;
  height:16px;
  color:#999999;
}
#u12911 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u12912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12912 {
  position:absolute;
  left:861px;
  top:26px;
  width:67px;
  height:16px;
  color:#999999;
}
#u12913 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u12914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12914 {
  position:absolute;
  left:965px;
  top:26px;
  width:34px;
  height:16px;
  color:#999999;
}
#u12915 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u12916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u12917 {
  position:absolute;
  left:1102px;
  top:19px;
  width:1px;
  height:30px;
}
#u12918 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12919 {
  position:absolute;
  left:1069px;
  top:25px;
  width:17px;
  height:19px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u12920 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12921 {
  position:absolute;
  left:1071px;
  top:22px;
  width:7px;
  height:5px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u12922 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12923 {
  position:absolute;
  left:1078px;
  top:42px;
  width:7px;
  height:4px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u12924 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12925_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:5px;
}
#u12925 {
  position:absolute;
  left:1069px;
  top:42px;
  width:19px;
  height:2px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u12926 {
  position:absolute;
  left:2px;
  top:-7px;
  width:15px;
  visibility:hidden;
  -webkit-transform:rotate(-345deg);
  -moz-transform:rotate(-345deg);
  -ms-transform:rotate(-345deg);
  transform:rotate(-345deg);
  word-wrap:break-word;
  transform-origin:7,5px 8px;
  -ms-transform-origin:7,5px 8px;
  -moz-transform-origin:7,5px 8px;
  -webkit-transform-origin:7,5px 8px;
}
#u12927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u12927 {
  position:absolute;
  left:1074px;
  top:17px;
  width:19px;
  height:19px;
  color:#FFFFFF;
}
#u12928 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u12929 {
  position:absolute;
  left:1052px;
  top:9px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
