body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:10px;
  top:10px;
  width:1100px;
  height:70px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:27px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
}
#u1865 {
  position:absolute;
  left:20px;
  top:20px;
  width:109px;
  height:52px;
  font-size:12px;
  color:#AEAEAE;
}
#u1866 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1867 {
  position:absolute;
  left:153px;
  top:53px;
  width:74px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1869 {
  position:absolute;
  left:256px;
  top:53px;
  width:65px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1871 {
  position:absolute;
  left:351px;
  top:53px;
  width:33px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1873 {
  position:absolute;
  left:10px;
  top:58px;
  width:19px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:143px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AEAEAE;
}
#u1875 {
  position:absolute;
  left:10px;
  top:800px;
  width:1100px;
  height:143px;
  font-size:14px;
  color:#AEAEAE;
}
#u1876 {
  position:absolute;
  left:2px;
  top:64px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:839px;
  top:819px;
  width:54px;
  height:16px;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u1879 {
  position:absolute;
  left:839px;
  top:845px;
  width:41px;
  height:40px;
  font-size:11px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u1881 {
  position:absolute;
  left:891px;
  top:845px;
  width:41px;
  height:40px;
  font-size:11px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u1883 {
  position:absolute;
  left:943px;
  top:845px;
  width:41px;
  height:40px;
  font-size:11px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u1885 {
  position:absolute;
  left:26px;
  top:870px;
  width:59px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u1887 {
  position:absolute;
  left:103px;
  top:870px;
  width:62px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1889 {
  position:absolute;
  left:528px;
  top:819px;
  width:77px;
  height:16px;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1892 {
  position:absolute;
  left:362px;
  top:917px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1894 {
  position:absolute;
  left:463px;
  top:917px;
  width:115px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1896 {
  position:absolute;
  left:600px;
  top:917px;
  width:158px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1898 {
  position:absolute;
  left:446px;
  top:916px;
  width:14px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1900 {
  position:absolute;
  left:582px;
  top:916px;
  width:14px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u1902 {
  position:absolute;
  left:999px;
  top:845px;
  width:41px;
  height:40px;
  font-size:11px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u1904 {
  position:absolute;
  left:1051px;
  top:845px;
  width:41px;
  height:40px;
  font-size:11px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u1906 {
  position:absolute;
  left:187px;
  top:870px;
  width:48px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1908 {
  position:absolute;
  left:528px;
  top:870px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1910 {
  position:absolute;
  left:633px;
  top:870px;
  width:146px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u1912 {
  position:absolute;
  left:26px;
  top:819px;
  width:106px;
  height:35px;
  font-size:10px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u1914 {
  position:absolute;
  left:528px;
  top:845px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u1916 {
  position:absolute;
  left:652px;
  top:845px;
  width:77px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1918 {
  position:absolute;
  left:81px;
  top:870px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1920 {
  position:absolute;
  left:165px;
  top:870px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:2px;
}
#u1922 {
  position:absolute;
  left:26px;
  top:906px;
  width:1066px;
  height:1px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:67px;
}
#u1924 {
  position:absolute;
  left:808px;
  top:819px;
  width:1px;
  height:66px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:67px;
}
#u1926 {
  position:absolute;
  left:808px;
  top:819px;
  width:1px;
  height:66px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
}
#u1929 {
  position:absolute;
  left:8px;
  top:10px;
  width:1100px;
  height:1px;
  font-size:28px;
  color:#AEAEAE;
}
#u1930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:667px;
  top:10px;
}
#u1931_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1931_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#006699;
}
#u1932 {
  position:absolute;
  left:208px;
  top:15px;
  width:105px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#006699;
}
#u1933 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#006699;
}
#u1934 {
  position:absolute;
  left:322px;
  top:15px;
  width:105px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#006699;
}
#u1935 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u1931_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1931_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1936 {
  position:absolute;
  left:252px;
  top:9px;
  width:114px;
  height:15px;
  font-size:12px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1938 {
  position:absolute;
  left:327px;
  top:40px;
  width:39px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1940 {
  position:absolute;
  left:245px;
  top:40px;
  width:59px;
  height:16px;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1942 {
  position:absolute;
  left:308px;
  top:40px;
  width:15px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#5E5E5E;
  text-align:center;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1944 {
  position:absolute;
  left:67px;
  top:40px;
  width:72px;
  height:16px;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1946 {
  position:absolute;
  left:143px;
  top:40px;
  width:15px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#5E5E5E;
  text-align:center;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1948 {
  position:absolute;
  left:162px;
  top:40px;
  width:59px;
  height:16px;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
  text-align:center;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1950 {
  position:absolute;
  left:225px;
  top:40px;
  width:15px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#5E5E5E;
  text-align:center;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1952 {
  position:absolute;
  left:24px;
  top:37px;
  width:22px;
  height:22px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1955 {
  position:absolute;
  left:382px;
  top:9px;
  width:50px;
  height:50px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u1957 {
  position:absolute;
  left:393px;
  top:18px;
  width:29px;
  height:32px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1959 {
  position:absolute;
  left:49px;
  top:40px;
  width:18px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#5E5E5E;
  text-align:center;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1961 {
  position:absolute;
  left:33px;
  top:31px;
  width:16px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1963 {
  position:absolute;
  left:8px;
  top:61px;
  visibility:hidden;
}
#u1963_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1963_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1964 {
  position:absolute;
  left:0px;
  top:11px;
  width:424px;
  height:75px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:30px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
}
#u1966 {
  position:absolute;
  left:13px;
  top:0px;
  width:28px;
  height:12px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u1968 {
  position:absolute;
  left:16px;
  top:11px;
  width:22px;
  height:1px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1970 {
  position:absolute;
  left:13px;
  top:29px;
  width:401px;
  height:15px;
  font-size:12px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u1972 {
  position:absolute;
  left:13px;
  top:54px;
  width:69px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1974 {
  position:absolute;
  left:24px;
  top:31px;
  width:25px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1975 {
  position:absolute;
  left:298px;
  top:90px;
  visibility:hidden;
}
#u1975_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1975_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:328px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:328px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:156px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1978 {
  position:absolute;
  left:10px;
  top:10px;
  width:45px;
  height:22px;
  font-size:18px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1980_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:5px;
}
#u1980 {
  position:absolute;
  left:10px;
  top:42px;
  width:500px;
  height:2px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:-7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:15px;
  top:99px;
  width:65px;
  height:16px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1984 {
  position:absolute;
  left:15px;
  top:149px;
  width:62px;
  height:16px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1986 {
  position:absolute;
  left:110px;
  top:99px;
  width:380px;
  height:30px;
}
#u1986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1987 {
  position:absolute;
  left:110px;
  top:149px;
  width:380px;
  height:30px;
}
#u1987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:380px;
  top:269px;
  width:110px;
  height:40px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u1990 {
  position:absolute;
  left:110px;
  top:199px;
  width:140px;
  height:16px;
  font-size:12px;
}
#u1991 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
}
#u1992 {
  position:absolute;
  left:385px;
  top:199px;
  width:105px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u1994 {
  position:absolute;
  left:10px;
  top:250px;
  width:500px;
  height:1px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  position:absolute;
  left:260px;
  top:269px;
  width:110px;
  height:40px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1998 {
  position:absolute;
  left:450px;
  top:10px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2000 {
  position:absolute;
  left:10px;
  top:293px;
  width:160px;
  height:16px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u2003 {
  position:absolute;
  left:218px;
  top:70px;
  visibility:hidden;
}
#u2003_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2003_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:680px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:332px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2006 {
  position:absolute;
  left:10px;
  top:10px;
  width:68px;
  height:22px;
  font-size:18px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2008_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:663px;
  height:5px;
}
#u2008 {
  position:absolute;
  left:10px;
  top:42px;
  width:660px;
  height:2px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:-7px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2010 {
  position:absolute;
  left:550px;
  top:620px;
  width:110px;
  height:40px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:430px;
  top:620px;
  width:110px;
  height:40px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u2014 {
  position:absolute;
  left:610px;
  top:10px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2016 {
  position:absolute;
  left:20px;
  top:644px;
  width:231px;
  height:16px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:532px;
}
#u2019 {
  position:absolute;
  left:20px;
  top:60px;
  width:640px;
  height:531px;
  font-size:16px;
  color:#AEAEAE;
}
#u2020 {
  position:absolute;
  left:2px;
  top:256px;
  width:636px;
  word-wrap:break-word;
}
#u2021 {
  position:absolute;
  left:334px;
  top:137px;
  visibility:hidden;
}
#u2021_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2021_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:200px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:92px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2024 {
  position:absolute;
  left:11px;
  top:12px;
  width:74px;
  height:22px;
  font-size:18px;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2026_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:425px;
  height:5px;
}
#u2026 {
  position:absolute;
  left:11px;
  top:44px;
  width:422px;
  height:2px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:-7px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u2028 {
  position:absolute;
  left:373px;
  top:12px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2030 {
  position:absolute;
  left:63px;
  top:69px;
  width:318px;
  height:32px;
  text-align:center;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:152px;
  top:141px;
  width:140px;
  height:40px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2034 {
  position:absolute;
  left:20px;
  top:120px;
  width:49px;
  height:28px;
  font-size:24px;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2036_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1083px;
  height:5px;
}
#u2036 {
  position:absolute;
  left:20px;
  top:150px;
  width:1080px;
  height:2px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2038 {
  position:absolute;
  left:45px;
  top:172px;
  width:71px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2040 {
  position:absolute;
  left:20px;
  top:176px;
  width:15px;
  height:12px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2042 {
  position:absolute;
  left:45px;
  top:211px;
  width:12px;
  height:8px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:70px;
  top:250px;
  width:1030px;
  height:48px;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:16px;
}
#u2046 {
  position:absolute;
  left:70px;
  top:209px;
  width:596px;
  height:16px;
  font-size:14px;
  color:#006699;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2048 {
  position:absolute;
  left:45px;
  top:319px;
  width:12px;
  height:8px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:16px;
}
#u2050 {
  position:absolute;
  left:70px;
  top:317px;
  width:596px;
  height:16px;
  font-size:14px;
  color:#006699;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2052 {
  position:absolute;
  left:45px;
  top:354px;
  width:12px;
  height:8px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:16px;
}
#u2054 {
  position:absolute;
  left:70px;
  top:352px;
  width:850px;
  height:16px;
  font-size:14px;
  color:#006699;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2056 {
  position:absolute;
  left:45px;
  top:391px;
  width:12px;
  height:8px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:16px;
}
#u2058 {
  position:absolute;
  left:70px;
  top:389px;
  width:596px;
  height:16px;
  font-size:14px;
  color:#006699;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2060 {
  position:absolute;
  left:45px;
  top:426px;
  width:12px;
  height:8px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:16px;
}
#u2062 {
  position:absolute;
  left:70px;
  top:424px;
  width:1000px;
  height:16px;
  font-size:14px;
  color:#006699;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2064 {
  position:absolute;
  left:45px;
  top:470px;
  width:71px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2066 {
  position:absolute;
  left:20px;
  top:474px;
  width:15px;
  height:12px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2068 {
  position:absolute;
  left:45px;
  top:508px;
  width:71px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2070 {
  position:absolute;
  left:20px;
  top:512px;
  width:15px;
  height:12px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2072 {
  position:absolute;
  left:45px;
  top:549px;
  width:71px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2074 {
  position:absolute;
  left:20px;
  top:553px;
  width:15px;
  height:12px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2076 {
  position:absolute;
  left:45px;
  top:587px;
  width:71px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#006699;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2078 {
  position:absolute;
  left:20px;
  top:591px;
  width:15px;
  height:12px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
